/* Общие стили */
body, html {
    font-family: 'Merriweather', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a263c;
    color:#fff
}

/* Шапка */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Растягивает header на всю ширину */
    z-index: 1000; /* Поднимает его выше других элементов */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #1a263c;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между логотипом и текстом */
}

.logo {
    height: 50px;
}

.logo-text {
    font-family: "Adobe Hebrew";
    color: #d3985c;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0.095em;
}
.right-logo {
    padding-right: 25px;
}

.dropdown-menu {
    display: none;
    position: fixed;
    bottom: 70px; /* Отступ от нижнего меню */
    right: 0;
    background: #1a263c;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
    display: block;
    color: #f8f9fa;
    padding: 8px 12px;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background: #2c3e50;
}

.language-menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #d3985c;
}

.language-menu a {
    text-decoration: none;
    color: white;
    border: 1px solid #d3985c;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.language-menu a:hover {
    background: #d3985c;
    color: black;
}


main {
    padding-top: 80px;
    padding-bottom: 70px;
    background-image: url('../images/bgnew2.jpeg'); /* Указываем путь к изображению */
    background-size: cover; /* Растягиваем на весь блок */
    background-position: center; /* Центрируем */
    background-attachment: fixed; /* Фиксируем фон (по желанию) */    
    color: white; /* Чтобы текст был читаемым */
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    min-height: 75vh;
}

/* Сетка меню */
.grid-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

/* Элементы меню */
.menu-item a{
    background: #1a263c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s;
}

.menu-item i {
    font-size: 24px;
    margin-bottom: 5px;
}

.menu-item a:hover {
    text-decoration: none;
}

/* Нижняя навигация */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1a263c;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    z-index: 1000;
}


.bottom-nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    flex: 1;
}

.bottom-nav i {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.bottom-nav .active {
    font-weight: bold;
    border-bottom: 2px solid white;
}

/* Активная вкладка */
.active-tab {
    display: block;
}

.programme-section {
    text-align: center;
    padding: 10px 10px;
    background: #f8f9fa;
}

.programme-section h2 {
    font-size: 18px;
    color: #1a263c;
}

.programme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poster img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.programme-day {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: left;
}

.programme-day h3 {
    color: #d3985c;
    margin-bottom: 10px;
}

.programme-day ul {
    list-style: none;
    padding: 0;
}

.programme-day li {
    padding: 10px 0;
    color: #1a263c;
    border-bottom: 1px solid #ddd;
}

.programme-day li:last-child {
    border-bottom: none;
}

.time {
    font-weight: bold;
    color: #1a263c;
    margin-right: 10px;
}

.programme-buttons {
    margin-bottom: 20px;
}

.programme-buttons button {
    background: #1a263c;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.programme-buttons button:hover {
    background: #d3985c;
}

/* Секция Комитет */
.committee-container {
    text-align: center;
    padding: 20px;
    background: #f8f9fa;
    color: #1a263c;
}

.committee-container h2 {
    font-size: 24px;
    color: #d3985c;
    margin-bottom: 20px;
}

/* Сетка с членами комитета */
.committee-list {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

/* Карточка участника */
.committee-member {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.committee-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.committee-member h3 {
    color: #1a263c;
    font-size: 18px;
    margin-bottom: 5px;
}

.committee-member p {
    color: #555;
    font-size: 14px;
}

/* Основной контейнер */
.articles-container {
    text-align: center;
    padding: 20px;
    background: #f8f9fa;
    color: #1a263c;
}

.articles-container h2 {
    font-size: 24px;
    color: #d3985c;
    margin-bottom: 20px;
}

/* Список статей */
.articles-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 10px auto;
    max-width: 600px;
    cursor: pointer;
    transition: 0.3s;
}

.article-item:hover {
    background: #d3985c;
    color: white;
}

.article-author {
    display: block;
    font-size: 14px;
    color: #777;
    margin-top: 5px;
}

/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    max-width: 600px;
    width: 90%;
    position: relative;
}

.modal-content h3 {
    color: #1a263c;
}

.modal-content p {
    color: #333;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}
.partners-section {
    text-align: center;
    padding: 20px 40px;
    color: #f8f9fa;
    background: rgba(0, 0, 0, 0.1);
}

.partners-section h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

.partners-container {
    display: grid;
    gap: 20px;
    justify-content: center;
}

.partner {
    background: #1a263c; /* Полупрозрачный фон карточек */
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.partner img {
    width: 100px; /* Фиксированный размер логотипов */
    height: auto;
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
}

.partner p {
    font-size: 16px;
    font-weight: bold;
    color: #d3985c; /* Белый текст */
}
/* Стили футера */
.contact-footer {
    background: #f8f9fa;
    color: #1a263c;
    text-align: center;
    padding: 30px 0;
    margin: 30px 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase;
}

.contact-info p {
    font-size: 16px;
    margin: 10px 0;
}

.contact-info i {
    color: #f9a825;
    margin-right: 10px;
}

/* Стили социальных кнопок */
.social-links {
    margin-top: 20px;
}

.social-btn {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
    color: #1a263c;
    transition: 0.3s;
}

.social-btn:hover {
    color: #f9a825;
}
.footer__logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}
.footer__logo img{
    height: 70px;
    align-self: center;
}
.footer__logo span {
    font-family: "Adobe Hebrew";
    color: var(--blue);
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0.095em;
}

/* Основной блок */
.farabi-section {
    color: white;
    text-align: center;
    padding: 20px 20px;
}

.farabi-container {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
    background: #f8f9fa;
    color: #1a263c;
    padding: 20px;
    border-radius: 10px;
}

/* Заголовки */
h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

h2 {
    font-size: 22px;
    margin-top: 20px;
    color: #d3985c; /* Золотистый */
}

/* Основной контент */
.farabi-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.farabi-image img {
    max-height: 100px;
}

.farabi-text {
    max-width: 550px;
}

blockquote {
    font-style: italic;
    color: #0c54a0;
    border-left: 3px solid #0c54a0;
    padding-left: 10px;
    margin-top: 10px;
}

/* Ссылки */
.farabi-links {
    margin-top: 30px;
    text-align: center;
}

.farabi-links a {
    color: #d3985c;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin: 5px 0;
}

.farabi-links a:hover {
    text-decoration: underline;
}

/* Карта */
.map-section {
    text-align: center;
    padding: 40px 0;
}

.map-section .container{
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
}


.map-container {
    position: relative;
    display: inline-block;
}

.map-image {
    width: 100%;
    max-width: 800px;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.events-section {
    text-align: center;
    padding: 30px 20px;
    background: #f5f5f5;
}

.events-section h2 {
    font-size: 28px;
    color: #1a263c;
    margin-bottom: 30px;
}

.events-container {
    display: grid;
    gap: 20px;
}

.event-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.event-card:hover {
    transform: translateY(-5px);
}

.event-card i {
    font-size: 40px;
    color: #d3985c;
    margin-bottom: 10px;
}

.event-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #1a263c;
}

.event-card p {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}

.event-card a {
    display: inline-block;
    padding: 10px 15px;
    background: #d3985c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.event-card a:hover {
    background: #b87a45;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-height: 75%;
    overflow-y: auto;
    text-align: left;
    position: relative;
    color: #1a263c;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

th {
    background: #d3985c;
    color: white;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.discussion-container {
    background: #f8f9fa;
    padding: 20px;
}
.discussion-container h2 { text-align: center; color: #1a263c; }
.card { background: white; margin: 15px 0; padding: 15px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.2); font-size: 14px;}
.card h3 { color: #d3985c; margin: 5px 0; }
.info { margin: 5px 0; color: #1a263c; }
.highlight { font-weight: bold; }